@font-face {
    font-family: 'audreyregular';
    src: url('../font/audrey/audrey-normal-webfont.woff2') format('woff2'),
         url('../font/audrey/audrey-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: url("../imgs/body/base.jpg");
    transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
    background-attachment: fixed;
    background-position: center;
}

.logo_general{
    max-width: 930px;
    max-height: 352px;
    margin: 0 auto;
    
}



.logo_scritta{
    margin-top: 150px;
    font-family: 'audreyregular';
    font-size: 10vw;
    text-shadow: 2px 2px #fff;
}

.scritta{
    width: 100%;
    margin-top: -10px;
    text-align: center;
    font-size: 40pt;
    font-family: 'audreyregular';
    text-shadow: 2px 2px #fff;
}
.lingua{
    background-image: url("../imgs/lingua/black.png");
    background-size: cover;
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height: 352px;
    float: left; 
    -o-transition:color .1s ease-out, background .1s ease-in;
    -ms-transition:color .1s ease-out, background .1s ease-in;
    -moz-transition:color .1s ease-out, background .1s ease-in;
    -webkit-transition:color .1s ease-out, background .1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .1s ease-out, background .1s ease-in;
    
}

/* IPAD PRO */
@media only screen and (max-width: 1024px) {
    .lingua{
        max-width: 250px;
        max-height: 293px;
    }
    .logo_general{
        max-width: 780px;
        max-height: 293px;      
    }
    .logo_scritta{
        margin-top: 450px;
        font-size: 13vw;
    }
}


@media only screen and (max-width: 1000px) {
    .lingua{
        max-width: 250px;
        max-height: 293px;
    }
    .logo_general{
        max-width: 780px;
        max-height: 293px;      
    }
}

/* IPAD */
@media only screen and (max-width: 768px) {
    .lingua{
        max-width: 200px;
        max-height: 235px;
    }
    .logo_general{
        max-width: 630px;
        max-height: 235px;      
    }
    .logo_scritta{
        margin-top: 350px;
    }
}

/* IPHONE X 375 */
@media only screen and (max-width: 375px) {
    .lingua{
        max-width: 100px;
        max-height: 117px;
    }
    .logo_general{
        max-width: 330px;
        max-height: 117px;      
    }
    .logo_scritta{
        margin-top: 300px;
    }
}

/* IPHONE 6/7/8P 414 */
@media only screen and (max-width: 414px) {
    .lingua{
        max-width: 90px;
        max-height: 106px;
    }
    .logo_general{
        max-width: 300px;
        max-height: 106px;      
    }
    .logo_scritta{
        margin-top: 270px;
    }
}

/* GALAXY S5 360 */
@media only screen and (max-width: 360px) {
    .logo_scritta{
        margin-top: 220px;
        font-size: 15vw;
    }
}   


/* IPHONE 5/SE 320 */
@media only screen and (max-width: 320px) {
    .logo_scritta{
        margin-top: 200px;
    }
}